doctype html
html(lang="en")
  head
    title= hashtag-api
  body
    h1 Welcome to hashtag-api
    p.
      Visit <b> /tweet-count </b> to see number of mention of <em>#{currentHashtag}</em>
    p.
      Visit <b>/rest</b> to rest the current tweet count for whatever reason
